.parent {
    display: grid;
    grid-template: auto 1fr auto/ auto 1fr auto;
    width: 100%;
   

}
 header {
    grid-column: 1/4;
}

.navigation {
    display: flex;
    flex-direction: row;
    align-items:center;
    
}
.navigation li {
    display: block; /* change state in small view */
    flex: 1 1 100%;
    
    
}
.navigation li :hover {
    background-color: aqua;
    color: #FF2E00;
}
.navigation a {
    text-align: center;
    align-content: space-between;
    margin: 5px;
    padding: 15px;
}
#menu {
    display: none;
}
#text-1 {
    font-size: 3.5rem;
}

#text-1,#text-2 {
    padding: 0.2rem;
}
#text-title {
    font-size: 2.5em;
    margin-left: 8px;
    margin-top: 2rem;
    padding: 5px;
    font-weight: 700;
}

#paragraph {
    font-size: 1.3em;
    margin: 18px;
    margin-top: -1rem;
    padding: 5px;
    text-align: justify;
}

.left-side {
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color:  #FF2E00;
    border-radius: 15px;
    margin: 1rem;
   
}
main {
    grid-column: 2/3;
      
}
main img  {
    border-radius: 15px; 
}
main iframe{
    width: 98%;
    border-radius: 15px;

}
#main-text{
    margin: 0.5rem;
    text-align: center;
    font-size: 1rem;
    color: var( --paragraph-color-on-white);
}
footer{
    grid-column: 1/4;
}
.right-side{
    grid-column: 3/4;
}
.left-side p {
    
    padding: 10px;
    text-align: center;
}
.right-side p{
    font-size: 2rem;
    margin: 2rem;
  
}
/*texto dinamico*/
.right-side{
    margin: 1rem;
    border-radius: 15px;
    border: 2px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; /* Asegura que los párrafos se apilen verticalmente */
    transition: background-color 0.3s ease;
}
.right-side h2 {
    color: var(--paragraph-color-on-white);
}
.right-side p {
    display: none;
    margin: 0;
    padding: 10px;
    text-align: center;
}
#services {
    display: none;
}
#showTextButton {
    display: block; /* Asegúrate de que el botón sea un bloque */
    margin: 20px auto; /* Centra el botón horizontalmente */
    padding: 10px 20px; /* Espaciado interno del botón */
    background-color: #007BFF; /* Color de fondo del botón */
    color: white; /* Color del texto del botón */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar por el botón */
}

#showTextButton:hover {
    background-color: #0056b3; /* Color de fondo al pasar el ratón por el botón */
}
#contactButton {
    display: block; /* Asegúrate de que el botón sea un bloque */
    margin: 20px auto; /* Centra el botón horizontalmente */
    padding: 10px 20px; /* Espaciado interno del botón */
    background-color:  #FF2E00; /* Color de fondo del botón */
    color: #423E3B; /* Color del texto del botón */
    border: none; /* Sin borde */
    border-radius: 10px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar por el botón */
    font-weight: 600;
}

#contactButton:hover {
    background-color:  aqua; /* Color de fondo al pasar el ratón por el botón */
}

