/* Estilos para dispositivos móviles */

:root {
    --primary-color: #FFFFFF;
    --secondary-color: #FF2E00;
    --accent1-color: #5448C8;
    --accent2-color: #423E3B;
    --heading-font: 'Roboto';
    --paragraph-font: 'Roboto';
    --headline-color-on-white: #423E3B;
    --headline-color-on-color: #FFFFFF;
    --paragraph-color-on-white:  #423E3B;
    --paragraph-color-on-color: #FFFFFF;
    --paragraph-background-color: #5448C8;
    --nav-link-color:#FFFF ;
    --nav-background-color: #f2f5f7;
    --nav-hover-link-color: #f3f6f8;
    --nav-hover-background-color: #5448C8;
}

body {
    font-family: var(--heading-font);
    margin: 0;
    padding: 0;
}

.parent {
    display: flex;
    flex-direction: column;
}

header {
    background-color:  #5448C8;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

header h1 {
    margin: 0;
}

#menu {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    padding: .5rem .75rem;
    background-color: #eee;
    color: #000;
    border: none;
    cursor: pointer;
    margin-left: auto;
}

#menu::before {
    content: "≡";
}

.navigation {
    list-style: none;
    margin: 0;
    padding: 0;
    display: none;
    flex-direction: column;
    align-items: center;
}

.navigation li {
    margin: 10px 0;
}

.navigation a {
    text-decoration: none;
    color: var(--nav-link-color);
    font-weight: 700;
}

#menu.show::before {
    content: "X";
}

.navigation.show {
    display: flex;
}

.left-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.left-side img {
    width: 100%;
    border-radius: 50%;
    margin-top: 1rem;
}

.left-side p {
    padding: 10px;
}

.center img {
    /* width: 100%; */
    height: auto;
    object-fit: cover;
}

.right-side {
    text-align: center;
    padding: 20px;
}

footer {
    background-color: aqua;
    text-align: center;
    padding: 10px;
}
/* added code */
@media only screen and (max-width: 767px){
main {
    width: 100vw;
    align-self: center;
}
 main img {
    width: 100vw;
   
    border-radius: 15px;

}
#main-text{
    margin: 1rem;
    text-align: center;
    font-size: 1.2rem;
}
#text-title, #paragraph {
    display: none;
}
#showTextButton {
    display: block; /* Asegúrate de que el botón sea un bloque */
    margin: 20px auto; /* Centra el botón horizontalmente */
    padding: 20px 40px; /* Espaciado interno del botón */
    font-size: 20px;
    background-color: #FF2E00; /* Color de fondo del botón */
    /* Color del texto del botón */
    border: none; /* Sin borde */
    border-radius: 10px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar por el botón */
    font-weight: 600;
}

#showTextButton:hover {
    background-color: aqua; /* Color de fondo al pasar el ratón por el botón */
}
}